@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ttnorms';
    src: url('./assets/fonts/ttnorms-medium-webfont.woff');
}

@font-face {
    font-family: 'benzin-semibold';
    src: url('./assets/fonts/benzin-semibold-webfont.woff');
}

@font-face {
    font-family: 'benzin-bold';
    src: url('./assets/fonts/benzin_bold-webfont.woff');
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

body, html {
    /*background-color: #190624;*/
    max-width: 100%;
    overflow-x: hidden !important;
}
/* Works on Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: white white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: white;
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid white;
    width: 0;
    height: 0;
}
